/* Filename - App.css*/
.App {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

table {
	border: 2px solid rgb(0, 0, 0);
	width: 800px;
	height: 200px;
}

th {
	border-bottom: 10px solid black;
}

td {
	text-align: center;
}

.button-primary {
  background-color: #757575;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.button-primary:hover {
  background-color: #000000;
}
.bold-row {
  font-weight: bold;
}
